<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1>Moi</h1>
        <h2>Hötömölöt:</h2>
        <p>p</p>
        <p>p</p>
        <p>p</p>
        <ul>
            <li>lista</li>
            <li>lista</li>
            <li>lista</li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                </tr>
                <tr>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                </tr>
                <tr>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                    <td>table</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
